body {
  background: #222d32;
  font-family: "Roboto", sans-serif;
}

.login-box {
  margin-top: 0px;
  height: auto;
  background: #1a2226;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #ecf0f5;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type="text"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 1px solid #28a745;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5 !important;
}
input[type="email"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 1px solid #28a745;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5 !important;
}

input[type="password"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 1px solid #28a745;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5 !important;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.login-form .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #28a745 !important;
  outline: 0;
  background-color: #1a2226 !important;
  color: #ecf0f5;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #28a745;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #28a745;
  color: #28a745;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #28a745;
  right: 0px;
  color: #fff;
}
.login-button {
  padding-left: 0px !important;
  /* text-align: right; */
  margin-bottom: 25px;
}

.loginbttm {
  padding-left: 0px !important;
}
.create-account {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}
